mainboard/mainboard/mainboard-backups/*
gpu_extension/gpu_extension-backups/*
fpga_extension/fpga_extension/fpga_extension-backups/*
mainboard/mainboard/OUT/*
mainboard/mainboard/gerber*
gpu_extension/gerber*
